.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}
.progress-bar > .top {
    display: flex;
    justify-content: space-between;
}
.progress-bar > .top > .label {
}
.progress-bar > .top > .value {
}
.progress-bar > .bottom {
    width: 100%;
    height: 7px;
    background-color: #ddd;
}
.progress-bar > .bottom > .bar {
    background-color: transparent;
    width: 90%;
    height: 100%;
}
.progress-bar .bar > .loading {
    background-color: #36f;
    width: 100%;
    height: 100%;
    animation-name: loading;
    animation-duration: 2s;
}
.progress-bar .bar > .loading.loading-orange {
    background-color: #f93;
}
.progress-bar .bar > .loading.loading-red {
    background-color: #f03;
}
.progress-bar .bar > .loading.loading-green {
    background-color: #0f3;
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
